<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- Bootstrap Styles-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' /> 
     
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><i class="fa fa-gear"></i> <strong>HYBRID</strong></a>
            </div>

            <ul class="nav navbar-top-links navbar-right top_right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Doe</strong>
                                    <span class="pull-right text-muted">
                                        <em>Today</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since an kwilnw...</div>
                            </a>
                        </li>

                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>

                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down  top_right"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
		<div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li class="active">
                        <a href="ui-elements.html"><i class="fa fa-desktop"></i>用餐单位</a>
                        <ul class="nav nav-second-level">
                            <li class="">
                                <a href="" th:href="@{/groupMealUnit/yes_list}">用餐单位列表<span class="fa "></span></a>
                            </li>
                            <li>
                                <a href="" th:href="@{/groupMealUnit/no_list}">未审核列表<span class="fa arrow"></span></a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-desktop"></i>团餐机构</a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href=""  th:href="@{/deliveringCompany/yes_list}" >团餐机构列表</a>
                            </li>

                            <li>
                                <a href="" th:href="@{/deliveringCompany/no_list}" >未审核列表</a>
                            </li>
                        </ul>
                    </li>
					<li>
                        <a href=""><i class="fa fa-bar-chart-o"></i>菜系管理</a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href=""  th:href="@{/recipeType/list}" >菜谱类型列表</a>
                            </li>
                            <li>
                                <a href="" th:href="@{/mainCategorie/list}" >食材一级分类</a>
                            </li>
                            <li>
                                <a href="" th:href="@{/deliveringCompany/no_list}" >食材二级分类</a>
                            </li>
                            <li>
                                <a href="" th:href="@{/foodMaterial/list/1}" >食材管理</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="tab-panel.html"><i class="fa fa-qrcode"></i> Tabs & Panels</a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href=""  th:href="@{/yes_list}" >列表</a>
                            </li>

                        </ul>
                    </li>
                    
                    <li>
                        <a href="table.html"><i class="fa fa-table"></i>权限设置</a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">设置团餐机构等级</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="form.html"><i class="fa fa-edit"></i> 处理投诉 </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">投诉列表</a>
                            </li>
                            <li>
                                <a href="#">未处理列表</a>
                            </li>
                        </ul>
                    </li>


                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i> 查询配送<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">xxxx</a>
                            </li>
                            <li>
                                <a href="#">xxx</a>
                            </li>
                            <li>
                                <a href="#">sanji<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>

                                </ul>

                            </li>
                        </ul>
                    </li>

                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->


        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">


						<ul class="breadcrumb" >
                            <i style="text-align: left">用餐机构列表</i>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">用餐单位机构</a></li>
                                <li class="active">用餐单位列表</li>

                        </ul>

                        <ul class="top_search">

                            <div class="container-fluid">

                                    <div class="span12">
                                     <div class="row-fluid">
                                         <form class="">
                                             按公司名称查询： <input class="input-medium search-query" id="unitname" type="text" />
                                             &nbsp;&nbsp;&nbsp;<button id="search" class="btn btn-primary" type="button">查询</button>
                                             <button class=" btn-mini btn_search" type="button">查询</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </ul>


                        <div class="text_data" >
                            <div id="searchtable">
                            <table class="table_shadow table table-bordered table-striped table-hover ">
                                <thead>
                                <tr>
                                    <th scope="">序号</th>
                                    <th  scope="" style="width: 200px">公司名称</th>
                                    <th scope="">联系人</th>
                                    <th scope="">开户行</th>
                                    <th scope="">开户账号</th>
                                    <th scope="">办公电话</th>
                                    <th scope="">状态</th>
                                    <th scope="">操作</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="dc,stat : ${page.list}" th:if="${not #lists.isEmpty(page.list)}">
                                    <td th:text="${stat.count}"></td>
                                    <td class="zt"><a style="color:rgb(25,166,255);" th:text=" ${dc.groupMealUnitName}" th:href="@{'/groupMealUnit/gmu_details/'+${dc.groupMealUnitId} }"></a></td>
                                    <td th:text="${dc.groupMealUnitContact}">公司联系人</td>
                                    <td th:text="${dc.groupMealUnitBank}">开户行</td>
                                    <td th:text="${dc.groupMealUnitAccount}">开户账号</td>
                                    <td th:text="${dc.groupMealUnitOfficetel}">办公电话</td>
                                    <td >
                                        <i th:text="待审核" class="text-danger" th:if="${dc.groupMealUnitStatus==2}"></i>
                                        <i th:text="审核通过" class="text-success" th:if="${dc.groupMealUnitStatus==3}"></i>
                                        <i th:text="已停用"  class="text-muted" th:if="${dc.groupMealUnitStatus==0}"></i>

                                    </td>
                                    <td>
                                        <a class="btn btn-xs btn-primary" th:href="@{'/groupMealUnit/gmu_details/'+${dc.groupMealUnitId}}"  target="main" >&nbsp;详情</a>
                                        <a class="btn btn-xs btn-success" th:href="@{'/groupMealUnit/gmu_details/'+${dc.groupMealUnitId}}" th:if="${dc.groupMealUnitStatus==2}"  target="main" >&nbsp;审核通过</a>

                                        <a class="btn btn-xs btn-success" th:href="@{'/groupMealUnit/gmu_details/'+${dc.groupMealUnitId}}" th:if="${dc.groupMealUnitStatus==0}"  target="main" >&nbsp;启用</a>
                                        <a class="btn btn-xs btn-danger" th:href="@{'/groupMealUnit/gmu_details/'+${dc.groupMealUnitId}}" th:if="${dc.groupMealUnitStatus==3}" target="main" >&nbsp;停用</a>

                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <!--分页栏位-->
                            <div th:include="manager/page::page"></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
        <!--<div class="foot_div">-->
            <!--<p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>-->

        <!--</div>-->

    </div>

    <div class="modal fade" id="warning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        友情提示！不能为空
                    </h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/webjars/jquery/3.3.0/jquery.js"></script>
    <!-- Bootstrap Js -->
    <!--<script src="/assets/js/bootstrap.min.js"></script>-->
    <script src="/webjars/bootstrap/4.1.1/js/bootstrap.js"></script>
    <!-- Metis Menu Js -->
    <script src="/assets/js/jquery.metisMenu.js"></script>


    <!-- Custom Js -->
    <script src="/assets/js/custom-scripts.js"></script>

    <script type="text/javascript">
        $('#search').click(function () {

            var unitname=$("#unitname").val();
            if (unitname==null||unitname==""){
                $('#warning').modal('show');
                return;
            }
            //alert(formdata);
            $.ajax({
                url:"/groupMealUnit/search/"+unitname,
                type:"POST",
                data:{
                    'asyc':true,
                },
                error:function (error) {

                },
                success:function (result) {
                    //alert("ok");
                    $("#searchtable").html(result);
                },
            });

        });
        $(function () {
            var url=window.location.href;
            var arr=url.split("/");
            /*$.each(arr,function (index,value) {
                console.log(index+"==="+arr[index]);
            })*/
            if (arr.length==7){
                $("#unitname").val(decodeURI(decodeURI(arr[5])));
            }
        })
    </script>

</body>

</html>