<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8" >
<title>终端数据备份</title>
<link rel="stylesheet" type="text/css" href="Assets/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="Assets/css/common.css"/>
<link rel="stylesheet" type="text/css" href="Assets/css/thems.css">
<script type="text/javascript" src="Assets/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
$(function(){
	//自适应屏幕宽度
	window.onresize=function(){ location=location }; 
	
	var main_h = $(window).height();
	$('.hy_list').css('height',main_h-45+'px');
	
	var main_w = $(window).width();
	$('.sjbf').css('width',main_w-40+'px');
	
	
});
</script>
</head>

<body onLoad="Resize();">
<div id="right_ctn">
	<div class="right_m">
		<!--会议列表-->
        <div class="hy_list">
        	<div class="box_t">
            	<span class="name">终端数据备份</span>
                <!--当前位置-->
                <div class="position">
                	<a href=""><img src="Assets/images/icon5.png" alt=""/></a>
                    <a href="">首页</a>
                    <span><img src="Assets/images/icon3.png" alt=""/></span>
                    <a href="">终端管理</a>
                    <span><img src="Assets/images/icon3.png" alt=""/></span>
                    <a href="">终端数据备份</a>
                </div>
                <!--当前位置-->
            </div>
            <div class="space_hx">&nbsp;</div>
            <!--终端列表-->
            <form action="" method="post">
            <div class="sjbf">
 				<div class="sjbf_a">
                	<div class="tip">
                    	提示：出现保存文件对话框时，保存类型必须选择[文本文件（*.txt）]类型。
                    </div>
                    <a href="" class="btn_bg btn_l">导出</a>
                </div>
                <div class="sjbf_b">
                	<ul class="clearfix">
                    	<li class="sjbf_b1">选择备份文件：</li>
                        <li class="sjbf_b2">
                        	<input name="" value="请选择路径" type="text">
                        </li>
                        <li class="sjbf_b3">
                        	<a href="" class="btn_bg btn_h">浏览</a>
                        </li>
                    </ul>
                    <div class="space_hx">&nbsp;</div>
                	<a href="" class="btn_bg btn_l">导入</a>
                </div>
            </div>
            </form>
            <!--终端列表-->
        </div>
        <!--会议列表-->
    </div>
</div>
</body>
</html>
