<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8" >
<title>新建会议</title>
<link rel="stylesheet" type="text/css" href="/Assets/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="/Assets/css/common.css"/>
<link rel="stylesheet" type="text/css" href="/Assets/css/thems.css">
<!--<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.1/css/bootstrap.css" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.css}">-->

<script type="text/javascript" src="/Assets/js/jquery-1.8.3.min.js"></script>
<script src="/js/manager.js" type="text/javascript"></script>

</head>

<body onLoad="Resize();">
<div id="right_ctn">
	<div class="right_m">
		<!--会议列表-->
        <div class="hy_list">
        	<div class="box_t">
            	<span class="name">公司信息[[${dc.deliveringCompanyNo}]]</span>
                <!--当前位置-->
                <div class="position">
                	<a href=""><img src="/Assets/images/icon5.png" alt=""/></a>
                    <a href="">首页</a>
                    <span><img src="/Assets/images/icon3.png" alt=""/></span>
                    <a href="">团餐机构</a>
                    <span><img src="/Assets/images/icon3.png" alt=""/></span>
                    <a href="">公司信息</a>
                </div>
                <!--当前位置-->
            </div>
            <div class="space_hx">&nbsp;</div>
            <!--公司信息-->
            <form action="" method="post">
            <div class="xjhy" style="padding:0px;">
                <div class="tabBox_t">
                    <div class="tabBox">
                      <ul class="tabNav">
                        <li class="now"><span>基本信息</span></li>
                        <li><span>其他设置</span></li>
                      </ul>
                        <div class="tabCont" style="display:block;">
                        <!--基本配置-->
                            <ul class="hypz">
                                <li class="clearfix">
                                    <span class="title">公司名称：</span>
                                    <div class="li_r">
                                        <input class="chang" th:value="${dc.deliveringCompanyName}" name="" type="text">
                                        <i>*</i>
                                    </div>

                                    <span class="title">开户行 ：</span>
                                    <div class="li_r xial">
                                        <div class="xial_w xial_l">
                                            <div class="xial_m">
                                                <input name="" th:value="${dc.deliveringCompanyBank}" type="text">
                                                <span>&nbsp;</span>
                                            </div>
                                            <ul class="xl_ctn">
                                                <li>zh</li>
                                                <li>cn</li>
                                                <li>ss</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>


                                <li class="clearfix">
                                    <span class="title">公司联系人：</span>
                                    <div class="li_r">
                                        <input name="" th:value="${dc.deliveringCompanyContact}" type="text">
                                        <i>*</i>
                                    </div>

                                    <span class="title">开户账号：</span>
                                    <div class="li_r">
                                        <input name="" th:value="${dc.deliveringCompanyAccount}" type="text">
                                    </div>
                                </li>

                                <li class="clearfix">
                                    <span class="title">联系方式（手机）：</span>
                                    <div class="li_r">
                                        <input name="" th:value="${dc.deliveringCompanyMobile}" type="text">
                                        <i>*</i>
                                    </div>

                                    <span class="title">办公电话：</span>
                                    <div class="li_r">
                                        <input name="" th:value="${dc.deliveringCompanyTel}" type="text">
                                        <i>*</i>
                                    </div>

                                </li>
                                <li class="clearfix">
                                    <span class="title">地址：</span>
                                    <div class="li_r xial">
                                        <div class="xial_w xial_l">
                                            <div class="xial_m">
                                                <input name="" th:value="${dc.deliveringCompanyAddress}" type="text">
                                                <span>&nbsp;</span>
                                            </div>
                                            <ul class="xl_ctn">
                                                <li>384k</li>
                                                <li>384k</li>
                                                <li>384k</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <span class="title" >创建日期：</span>
                                    <div class="li_r xial">
                                        <div class="xial_w xial_l">
                                            <div class="xial_m">
                                                <input name="" th:value="${#dates.format(dc.deliveringCompanyCreateDate,'yyyy-MM-dd HH:mm:ss')}" type="text">
                                                <span>&nbsp;</span>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <span class="title">营业执照：</span>
                                    <div class="li_r">
                                        <input name="" th:value="${dc.deliveringCompanyLicense}" type="text">
                                    </div>


                                    <span class="title">公司简介：</span>
                                    <div class="li_r">
                                        <textarea name="" rows="4" cols="30" th:text="${dc.deliveringCompanyDisc}" type="text"/>
                                    </div>

                                </li>
                                <li class="clearfix">
                                    <span class="title">状态：</span>
                                    <div class="li_r">
                                        <div class="li_r">
                                            <span th:text="未审核" style="color:rgb(255,0,0);" th:class="text-danger" th:if="${dc.deliveringCompanyStatus==0}"></span>
                                            <span th:text="审核通过" style="color:rgb(42,184,255);" th:class="text-primary" th:if="${dc.deliveringCompanyStatus==1}"></span>

                                        </div>
                                    </div>
                                </li>

                                <li class="tj_btn">
                                    <a href="">提交</a>
                                    <a href="">取消</a>
                                </li>
                            </ul>
                        <!--基本配置-->
                        </div>
                        <div class="tabCont">
                        <!--高级配置-->
                            <ul class="hypz gjpz clearfix">
                                <li class="clearfix">
                                    <span class="title">多画面数：</span>
                                    <div class="li_r">
                                        <input class="chang" name="" type="text">
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <span class="title">主动呼叫终端：</span>
                                    <div class="li_r">
                                        <span class="radio">
                                        	<input checked="checked" name="hjzd" type="radio" value="">
                                            <em>否</em>
                                        </span>
                                        <span class="radio">
                                        	<input name="hjzd" type="radio" value="">
                                            <em>是</em>
                                        </span>
                                    </div>
                                </li>

                                <li class="tj_btn">
                                    <a href="">下一步</a>
                                </li>
                            </ul>
                        <!--高级配置-->
                        </div>
                	</div>
                </div>
            </div>
            </form>
            <!--新建会议-->
        </div>
        <!--会议列表-->
    </div>
</div>
</body>
</html>
