<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home</title>
    <!-- Bootstrap Styles-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="/assets/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>

</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><i class="fa fa-gear"></i> <strong>HYBRID</strong></a>
        </div>

        <ul class="nav navbar-top-links navbar-right top_right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Doe</strong>
                                <span class="pull-right text-muted">
                                        <em>Today</em>
                                    </span>
                            </div>
                            <div>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem Ipsum has been the industry's standard dummy text ever since an kwilnw...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem Ipsum has been the industry's standard dummy text ever since the...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 1</strong>
                                    <span class="pull-right text-muted">60% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 2</strong>
                                    <span class="pull-right text-muted">28% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="28"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 28%">
                                        <span class="sr-only">28% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 3</strong>
                                    <span class="pull-right text-muted">60% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 4</strong>
                                    <span class="pull-right text-muted">85% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                        <span class="sr-only">85% Complete (danger)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Tasks</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Message Sent
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-tasks fa-fw"></i> New Task
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down  top_right"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <!--菜单管理-->
                <li>
                    <a href="#"><i class="fa fa-dashboard"></i> 菜单管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/groupmanager/tomorrow">明日菜单</a>
                        </li>
                        <li>
                            <a href="/groupmanager/unit">用餐单位菜单</a>
                        </li>
                    </ul>
                </li>
                <!--配送单管理-->
                <li>
                    <a href="#"><i class="fa fa-desktop"></i> 配送单管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/groupmanager/delivering">生成配送单</a>
                        </li>
                        <li>
                            <a href="/groupmanager/historydelivering">查询配送单</a>
                        </li>
                    </ul>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">应急配送单</a>
                        </li>
                        <li>
                            <a href="#">结算配送单</a>
                        </li>
                    </ul>
                </li>
                <!--食谱与餐标-->
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o"></i> 食谱与餐标<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/groupmanager/recipe">定义食谱</a>
                        </li>
                        <li>
                            <a href="/groupmanager/standard">定义餐标</a>
                        </li>
                    </ul>
                </li>
                <!--管理与授权 -->
                <li>
                    <a href="" class="active-menu"><i class="fa fa-qrcode"></i> 管理与授权</a>
                </li>

                <!--其他操作-->
                <li>
                    <a href="#" active-menu><i class="fa fa-table"></i> 其他操作<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">确认合同</a>
                        </li>
                        <li>
                            <a href="#">平台投诉</a>
                        </li>
                        <li>
                            <a href="#">完善基本信息</a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->


    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">


                    <ul class="breadcrumb">
                        <i style="text-align: left">员工列表</i>
                        <li><a href="/groupmanager/index">首页</a></li>
                        <li class="active">管理与授权</li>

                    </ul>

                    <ul class="top_search">


                        <div class="container-fluid">


                            <div class="span12">
                                <div class="row-fluid">
                                    <form class="">
                                        按账号 <span class="text-info">(手机号)</span> 查询： <input id="search_input"
                                                                                            class="input-medium search-query"
                                                                                            type="text"/>
                                        <button id="search_name" class=" btn-mini btn_search" type="button">查询</button>
                                        <button data-toggle="modal" data-target="#myModal" id="add_staff"
                                                class=" btn-mini btn_search" type="button">添加
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </ul>


                    <div class="text_data ">

                        <table id="table_staff" class="table table-hover  table-striped table-bordered table_shadow">

                            <thead>
                            <tr>
                                <th>编号</th>
                                <th>账号</th>
                                <th>手机号</th>
                                <th>职务</th>
                                <th>默认</th>
                                <th>状态</th>
                                <th>创建日期</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>


                            <tr th:each="staff,count:${staff_list}">
                                <td th:text="${count.count}"></td>
                                <td class="login_name" th:text="${staff.dCompanyStaffLoginname}"></td>
                                <td th:text="${staff.dCompanyStaffMobile}"></td>
                                <td th:text="${staff.dCompanyStaffPosition}"></td>
                                <td th:text="${staff.dCompanyStaffAuthority}" id="staff_authority" hidden="hidden"></td>
                                <td>
                                    <span th:if="${staff.dCompanyStaffDefault} == 0" class="text-danger">否</span>
                                    <span th:if="${staff.dCompanyStaffDefault} == 1" class="text-primary">是</span>
                                </td>
                                <td>
                                    <a  th:href="@{'/companystaff/updatestatus?name=' + ${staff.dCompanyStaffLoginname}+'&id=' + ${staff.deliveringCompany.deliveringCompanyNo} }" th:if="${staff.dCompanyStaffStatus} == 0" class="text-danger">已停用</a>
                                    <a th:href="@{'/companystaff/updatestatus?name=' + ${staff.dCompanyStaffLoginname}+'&id=' + ${staff.deliveringCompany.deliveringCompanyNo} }"  th:if="${staff.dCompanyStaffStatus} == 1" class="text-success">启用</a>

                                </td>
                                <td th:text="${#dates.format(staff.dCompanyStaffCreatedate,'yyyy-MM-dd &nbsp;&nbsp;  HH:mm:ss')}">
                                </td>
                                <td>

                                    <button data-toggle="modal"  id="author_staff"
                                            class="btn btn-info btn-xs staff_autor"  type="button"
                                    th:onclick="'getMessage('+ this +')'">授权

                                    </button>

                                </td>
                            </tr>


                            </tbody>
                        </table>


                        <ul class=" pagination pagination-lg pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#" >1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>

                    </div>
                </div>
            </div>


        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
    <!--<div class="foot_div">-->
    <!--<p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>-->

    <!--</div>-->

</div>

<!--添加员工的表单页面-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    添加员工
                </h4>
            </div>
            <div class="modal-body">

                <form role="form">
                    <div class="form-group">
                        <label>账号</label>
                        <input id="staff_name" type="text" class="form-control " placeholder="员工手机号作为账号">
                    </div>
                    <label>职务</label>
                    <div>
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option1" checked>
                            选项 1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadiosinline" id="optionsRadios4" value="option2"> 选项 2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadiosinline" id="optionsRadios4" value="option2"> 选项 3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadiosinline" id="optionsRadios4" value="option2"> 选项 4
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadiosinline" id="optionsRadios4" value="option2"> 选项 5
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadiosinline" id="optionsRadios4" value="option2"> 选项 6
                        </label>

                        </label>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button id="staff_submit" type="button" class="btn btn-primary">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<div class="modal fade" id="author" tabindex="-1" role="dialog" aria-labelledby="authorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="authorModalLabel">
                    员工授权
                </h4>
            </div>
            <div class="modal-body">

                <form role="form">
                    <div class="form-group">
                        <label>账号</label>
                        <input id="sta_name" type="text" class="form-control" disabled placeholder="员工手机号作为账号">
                    </div>
                    <label>权限</label>
                    <div>
                        <label class="checkbox-inline">
                            <input name="auth" type="checkbox"  id="inlineCheckbox1" value="厨师"> 厨师
                        </label>
                        <label class="checkbox-inline">
                            <input  name="auth" type="checkbox" id="inlineCheckbox2" value="员工"> 员工
                        </label>
                        <label class="checkbox-inline">
                            <input  name="auth" type="checkbox" id="inlineCheckbox3" value="option3"> 选项 3
                        </label>
                        <label class="checkbox-inline">
                            <input  name="auth" type="checkbox" id="inlineCheckbox2" value="option2"> 选项 2
                        </label>
                        <label class="checkbox-inline">
                            <input  name="auth" type="checkbox" id="inlineCheckbox3" value="option3"> 选项 3
                        </label>
                        <label class="checkbox-inline">
                            <input  name="auth"  type="checkbox" id="inlineCheckbox2" value="option2"> 选项 2
                        </label>
                        <label class="checkbox-inline">
                            <input  name="auth" type="checkbox" id="inlineCheckbox3" value="option3"> 选项 3
                        </label>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button id="author_submit" type="button" class="btn btn-primary">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!--提示框-->
<div class="modal fade" id="status_message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="message">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>提示
                </h4>
            </div>
            <div class="modal-body text-danger">
                你是否要停用此账号!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                </button>
                <button type="button" class="btn btn-primary">
                    确认
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Metis Menu Js -->
<script src="/assets/js/jquery.metisMenu.js"></script>


<!-- Custom Js -->
<script src="/assets/js/custom-scripts.js"></script>

<script th:inline="javascript">

    //    /*授权表单回显*/
    function getMessage(obj){

        var name =$(obj).parent().siblings().eq(1);
        $("#sta_name").val(name.text());

        var text = $(obj).parent().siblings().eq(4).text();
        var $au = text.split(",");
        for (i=0;i < $au.length;i ++){
            $("input:checkbox[value='"+$au[i]+"']").prop('checked',true);
        }
        $('#author').modal('show');
    }
    //        ajax查询staff
    $(function () {
        $("#search_name").click(function () {
            var name = $("#search_input").val();
            var id = [[${session.companyId}]];
            $.ajax({
                url: "/companystaff/search",
                type: "POST",
                data: {"id": id, "name": name},
                success: function (result) {
                    $("#table_staff").html(result);
                },
                error: function (result) {
                    alert("搜索失败!");
                }
            });
        });
    });

    /*提交添加员工*/
    $(function () {
        $("#staff_submit").click(function () {
            var name = $("#staff_name").val();
            if(name == null||name ==undefined||name==""){
                name = 0;
            }
            var zhiwu = $('input[name="optionsRadiosinline"]:checked').val();
            var id = [[${session.companyId}]];

            var names = [];
            $(".login_name").each(function () {
                names.push($(this).text());
            });
            if($.inArray(name,names) > -1){
                alert("账号存在，重新输入!");
            }else{
                if(name == 0 ){
                    alert("不能为空，重新输入!");
                }else {
                    $.ajax({
                        url: "/companystaff/addstaff",
                        type: "POST",
                        data: {"name": name, "zhiwu": zhiwu, "id": id},
                        success: function (result) {
                            $('#myModal').modal('hide');
                            location.reload();
                        },
                        error: function (result) {
                            alert("添加失败!");
                        }
                    });
                }
            }
        });

    });




    $(function () {
        $('#author').on('hide.bs.modal', function () {
            $('input[name="auth"]').each(function(){
                $(this).prop("checked",false);
            });

        })
    });

    /*确认授权*/
    $(function () {
       $("#author_submit").click(function () {

           var name = $("#sta_name").val();
           var id = [[${session.companyId}]];
           var authors = "";
           $.each($('input:checkbox:checked'),function(){
               authors = authors + $(this).val() +",";
           });

           $.ajax({
               url: "/companystaff/updatestaff",
               type: "POST",
               data: {"name": name, "authors": authors, "id": id},
               success: function (result) {
                   alert("Success!");
                   $('#author').modal('hide');
                   location.reload();
               },
               error: function (result) {
                   alert("授权失败!");
               }
           });

//           var $btns = $(".login_name");
       });
    });


</script>

</body>

</html>