<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home</title>
    <!-- Bootstrap Styles-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet"/>
    <link href="/assets/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
    <link href="/assets/css/zTreeStyle/metroStyle.css" rel="stylesheet">
    <!-- Custom Styles-->
    <link href="/assets/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>

    <style>
        .neirong div{
            margin-top: 20px;
        }
        .neirong span{
            margin-left: 15px;
            font-size: 20px;
            color: #737fd8;
        }
    </style>
</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><i class="fa fa-gear"></i> <strong>HYBRID</strong></a>
        </div>

        <ul class="nav navbar-top-links navbar-right top_right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Doe</strong>
                                <span class="pull-right text-muted">
                                        <em>Today</em>
                                    </span>
                            </div>
                            <div>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem Ipsum has been the industry's standard dummy text ever since an kwilnw...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem Ipsum has been the industry's standard dummy text ever since the...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 1</strong>
                                    <span class="pull-right text-muted">60% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 2</strong>
                                    <span class="pull-right text-muted">28% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="28"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 28%">
                                        <span class="sr-only">28% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 3</strong>
                                    <span class="pull-right text-muted">60% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 4</strong>
                                    <span class="pull-right text-muted">85% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                        <span class="sr-only">85% Complete (danger)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Tasks</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Message Sent
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-tasks fa-fw"></i> New Task
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down  top_right"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <!--菜单管理-->
                <li>
                    <a href="#"><i class="fa fa-dashboard"></i> 菜单管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/groupmanager/tomorrow">明日菜单</a>
                        </li>
                        <li>
                            <a href="/groupmanager/unit">用餐单位菜单</a>
                        </li>
                    </ul>
                </li>
                <!--配送单管理-->
                <li>
                    <a href="#"><i class="fa fa-desktop"></i> 配送单管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse in" aria-expanded="true">
                        <li>
                            <a href="/groupmanager/delivering" >生成配送单</a>
                        </li>
                        <li>
                            <a href="/groupmanager/historydelivering" class="active-menu">查询配送单</a>
                        </li>


                        <li>
                            <a href="/groupmanager/settledelivering">结算配送单</a>
                        </li>
                    </ul>
                </li>
                <!--食谱与餐标-->
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o"></i> 食谱与餐标<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level ">
                        <li>
                            <a href="/groupmanager/recipe">定义食谱</a>
                        </li>
                        <li>
                            <a href="/groupmanager/standard">定义餐标</a>
                        </li>
                    </ul>
                </li>
                <!--管理与授权 -->
                <li>
                    <a href="/companystaff/manager "><i class="fa fa-qrcode"></i> 管理与授权</a>
                </li>

                <!--其他操作-->
                <li>
                    <a href="#" active-menu><i class="fa fa-table"></i> 其他操作<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">确认合同</a>
                        </li>
                        <li>
                            <a href="/groupmanager/complaint">平台投诉</a>
                        </li>
                        <li>
                            <a href="/groupmanager/updatecompany">完善基本信息</a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>

    </nav>
    <!--&lt;!&ndash; /. NAV SIDE  &ndash;&gt;-->


    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">


                    <ul class="breadcrumb">
                        <i style="text-align: left">配送单详情</i>
                        <li><a href="/groupmanager/index">首页</a></li>
                        <li class="active">配送单管理</li>
                        <li class="active">详情页面</li>

                    </ul>
                    <ul class="top_search">

                            <div class="container-fluid">
                                <a href="/groupmanager/historydelivering">返回</a>
                                <form style="font-size: 16px">

                                    <div class="row neirong">

                                        <div class="col-lg-3">
                                             用餐单位:<span th:text="${master.groupMealUnit.groupMealUnitName}"></span>
                                        </div>
                                        <div class="col-lg-3">
                                            配送单位:<span th:text="${master.deliveringCompany.deliveringCompanyName}">344</span>
                                        </div>
                                        <div class="col-lg-3">
                                            配送日期:<span th:text="${#dates.format(master.deliveringMasterDelivedate,'yyyy-MM-dd')}">344</span>
                                        </div>
                                        <div class="col-lg-3">
                                            单价:<span th:text="${master.deliveringMasterPrice}">344</span>
                                        </div>
                                        <div class="col-lg-3">
                                            份数:<span th:text="${master.deliveringMasterAmount}">344</span>
                                        </div>
                                        <div class="col-lg-3">
                                            状态:<span th:if="${master.deliveringMasterStatus == 0}">新建</span>
                                            <span th:if="${master.deliveringMasterStatus == 1}">确认</span>
                                            <span th:if="${master.deliveringMasterStatus == 2}">已支付</span>
                                        </div>
                                        <div class="col-lg-3">
                                            是否应急:<span th:if="${master.deliveringMasterIsEmergency == 0}">不是</span>
                                            <i th:if="${master.deliveringMasterIsEmergency == 1}" class="text-danger" style="margin-left: 15px;font-size: 20px">是</i>
                                        </div>
                                        <div class="col-lg-3">
                                            创建日期:<span th:text="${#dates.format(master.deliveringMasterCreatedate,'yyyy-MM-dd HH:mm:ss &nbsp;&nbsp;')}">344</span>
                                        </div>
                                        <div class="col-lg-3">
                                            创建人:<span th:text="${master.deliveringMasterCreater}">344</span>
                                        </div>
                                        <div class="col-lg-3">
                                            确认人:<span th:text="${master.deliveringMasterConfirmer}">344</span>
                                        </div>
                                        <div class="col-lg-3">
                                            备注:<span th:text="${master.deliveringMasterMemo}">344</span>
                                        </div>

                                    </div>


                                </form>
                                <hr>
                                <span th:if="${master.deliveringMasterIsEmergency == 0}" style="color:#FFC240;">配送详情:</span>
                                <div th:each="recipe,count:${details}" style="margin-top: 15px;font-size: 16px">
                                    <span th:text="${recipe.recipe.recipeName}"style="width: 200px;display: block;float: left"></span>
                                    <span style="margin-left: 10px;width: 10px" > *</span>
                                    <sapn th:text="${recipe.deliveringDetailNumber}+' (份)'"></sapn>
                                </div>


                            </div>





                    </ul>
                </div>
             </div>
        </div>
    <!-- /. PAGE INNER  -->
    </div>

<!-- /. PAGE WRAPPER  -->
<!--<div class="foot_div">-->
<!--<p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>-->

</div>

<div class="modal fade" id="finish_message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="message">
                    <span class="glyphicon "></span>提示
                </h4>
            </div>
            <div hidden="hidden" id="foodid_message"></div>
            <div hidden="hidden" id="unitid"></div>
            <div class="modal-body text-success" id="text_message">
                <label>创建人</label>
                <input id="sta_name" type="text" class="form-control"  placeholder="请输入您的名字">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                </button>
                <button type="button" class="btn btn-primary" id="submit_Choice">
                    确认
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Metis Menu Js -->
<script src="/assets/js/jquery.metisMenu.js"></script>


<!-- Custom Js -->
<script src="/assets/js/custom-scripts.js"></script>

<script th:inline="javascript">
    function getDetails(deliveringId) {
        location.href = "/historydelivering/getdetails?deliveringId=" + deliveringId;
    }

</script>

</body>

</html>