<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home</title>
    <!-- Bootstrap Styles-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet"/>
    <link href="/assets/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
    <link href="/assets/css/zTreeStyle/metroStyle.css" rel="stylesheet">
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <!-- Custom Styles-->
    <link href="/assets/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>

    <style>
        .pad{
            margin-left: 10px;
        }
        .text_color{
            color: blueviolet;
        }
    </style>
</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index"><i class="fa fa-gear"></i> <strong>团餐管理平台</strong></a>
        </div>

        <ul class="nav navbar-top-links navbar-right top_right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Doe</strong>
                                <span class="pull-right text-muted">
                                        <em>Today</em>
                                    </span>
                            </div>
                            <div>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem Ipsum has been the industry's standard dummy text ever since an kwilnw...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem Ipsum has been the industry's standard dummy text ever since the...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 1</strong>
                                    <span class="pull-right text-muted">60% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 2</strong>
                                    <span class="pull-right text-muted">28% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="28"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 28%">
                                        <span class="sr-only">28% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 3</strong>
                                    <span class="pull-right text-muted">60% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 4</strong>
                                    <span class="pull-right text-muted">85% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                        <span class="sr-only">85% Complete (danger)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Tasks</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Message Sent
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-tasks fa-fw"></i> New Task
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down  top_right"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <!--菜单管理-->
                <li>
                    <a href="#"><i class="fa fa-dashboard"></i> 菜单管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/groupmanager/tomorrow">明日菜单</a>
                        </li>
                        <li>
                            <a href="/groupmanager/unit">用餐单位菜单</a>
                        </li>
                    </ul>
                </li>
                <!--配送单管理-->
                <li>
                    <a href="#"><i class="fa fa-desktop"></i> 配送单管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse in" aria-expanded="true">
                        <li>
                            <a href="/groupmanager/delivering" >生成配送单</a>
                        </li>
                        <li>
                            <a href="/groupmanager/historydelivering" >查询配送单</a>
                        </li>
                        <li>
                            <a href="#" class="active-menu">结算配送单</a>
                        </li>
                    </ul>
                </li>
                <!--食谱与餐标-->
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o"></i> 食谱与餐标<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level ">
                        <li>
                            <a href="/groupmanager/recipe">定义食谱</a>
                        </li>
                        <li>
                            <a href="/groupmanager/standard">定义餐标</a>
                        </li>
                    </ul>
                </li>
                <!--管理与授权 -->
                <li>
                    <a href="/companystaff/manager "><i class="fa fa-qrcode"></i> 管理与授权</a>
                </li>

                <!--其他操作-->
                <li>
                    <a href="#" active-menu><i class="fa fa-table"></i> 其他操作<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">确认合同</a>
                        </li>
                        <li>
                            <a href="/groupmanager/complaint">平台投诉</a>
                        </li>
                        <li>
                            <a href="/groupmanager/updatecompany">完善基本信息</a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>

    </nav>
    <!--&lt;!&ndash; /. NAV SIDE  &ndash;&gt;-->


    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">


                    <ul class="breadcrumb">
                        <i style="text-align: left">结算配送单</i>
                        <li><a href="/index">首页</a></li>
                        <li class="active">配送单管理</li>
                        <li class="active">结算</li>

                    </ul>
                    <ul class="top_search">
                            <div class="container-fluid">

                                <p>公司</p>
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a  href="#index" data-toggle="tab"  class="top_tab" aria-expanded="true">首页</a>
                                    </li>

                                    <li th:each="unit,count:${mealUnit}" ><!--data-th-classappend="${count.count == 1}?'active':''"-->
                                        <a th:href="'#' + ${unit.UnitName}" class="top_tab" th:text="${unit.UnitName}"  data-toggle="tab" aria-expanded="true"></a>
                                    </li>
                                </ul>

                                <div class="tab-content">

                                    <!--首页-->
                                    <div class="tab-pane fade active in" id="index">
                                        <p class="text-info">点击单位查看结算</p>
                                    </div>

                                    <div class=" pagination pagination-lg pull-left" id="datetimepicker" style="display: none">
                                    查询时间:&nbsp;&nbsp;&nbsp;
                                        <input id="startTime" class="input-medium search-query" type="text"/> &nbsp;至&nbsp;&nbsp;
                                        <input id="endTime" class="input-medium search-query" type="text"/>
                                   </div>

                                    <div th:each="unit,count:${mealUnit}" class="tab-pane fade " th:id="${unit.UnitName}"> <!--data-th-classappend="${count.count == 1}?'active in':''"-->

                                        <button  id="add_staff" style="margin-top: 18px"
                                        class=" btn-mini btn_search" type="button" th:onclick="'search('+ ${unit.unitId} +')'">确定
                                        </button>

                                        <table th:id="${'list' + unit.unitId}" class="table table-hover  table-striped table-bordered ">

                                            <thead>
                                            <tr>
                                                <th>编号</th>
                                                <th>单价</th>
                                                <th>份数</th>
                                                <th>配送时间</th>
                                                <th>合计</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>


                                            <tr th:each="history,count:${unit.deliveringMasters}">
                                                <td th:text="${count.count}">
                                                </td>

                                                <td th:text="${history.deliveringMasterPrice}">
                                                </td>
                                                <td th:text="${history.deliveringMasterAmount}">
                                                </td>

                                                <td th:text="${#dates.format(history.deliveringMasterDelivedate,'yyyy-MM-dd &nbsp;&nbsp;')}">
                                                </td>
                                                <td th:text="${history.deliveringMasterPrice} * ${history.deliveringMasterAmount}">
                                                </td>
                                                <td>
                                                    <button data-toggle="modal"  id="author_staff"
                                                            class="btn btn-info btn-xs staff_autor"  type="button"
                                                    th:onclick="'getDetails(' + ${history.deliveringMasterId} + ')'">详情
                                                    </button>

                                                </td>
                                            </tr>


                                            </tbody>
                                        </table>


                                        <ul class=" pagination pagination-lg pull-right">
                                            <li><a href="#">&laquo;</a></li>
                                            <li><a href="#" >1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">&raquo;</a></li>
                                        </ul>
                                    </div>


                                </div>


                            </div>





                    </ul>
                </div>
             </div>
        </div>
    <!-- /. PAGE INNER  -->
    </div>

<!-- /. PAGE WRAPPER  -->
<!--<div class="foot_div">-->
<!--<p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>-->

<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/bootstrap-datetimepicker.zh-CN.js"></script>
<!-- Metis Menu Js -->
<script src="/assets/js/jquery.metisMenu.js"></script>

<!-- Custom Js -->
<script src="/assets/js/custom-scripts.js"></script>

<script th:inline="javascript">
    function getDetails(deliveringId) {
        location.href = "/historydelivering/getdetails?deliveringId=" + deliveringId;
    }

    $(function () {
        $.fn.datetimepicker.defaults = {
            minView: "month",
            //默认语言
            language: 'zh-CN',
            //默认选择格式
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: true,
            //选择板所在输入框位置
            pickerPosition: "bottom"
        };
//
        var picker1 = $('#startTime').datetimepicker('setStartDate', '2018-01-01');
        var picker2 = $("#endTime").datetimepicker('setStartDate', '2018-01-01');

    });

    function search(id) {

        var startTime = $("#startTime").val();
        var endTime = $("#endTime").val();
        if($.trim(startTime) == ""){
            startTime = "2018-01-01"
        }
        if($.trim(endTime) == ""){
            endTime = "2018-12-30"
        }
        $.ajax({
            type:"POST",
            url:"/settledelivering/search",
            data:{"id":id,"startTime1":startTime,"endTime1":endTime},
            success:function (result) {
                $("#table_staff").html(result);
//                console.log(result);

            },
            error:function () {
                alert("查询出错!");
            }
        });


    }

    $(function () {
        $(".top_tab").click(function () {
            if($(this).text() == "首页"){
                $(".pagination").hide();
            }
            else {
                $(".pagination").show();
            }

        });
    });
</script>

</body>

</html>