<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home</title>
    <!-- Bootstrap Styles-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="/assets/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>

</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><i class="fa fa-gear"></i> <strong>HYBRID</strong></a>
        </div>

        <ul class="nav navbar-top-links navbar-right top_right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Doe</strong>
                                <span class="pull-right text-muted">
                                        <em>Today</em>
                                    </span>
                            </div>
                            <div>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem Ipsum has been the industry's standard dummy text ever since an kwilnw...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem Ipsum has been the industry's standard dummy text ever since the...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 1</strong>
                                    <span class="pull-right text-muted">60% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 2</strong>
                                    <span class="pull-right text-muted">28% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="28"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 28%">
                                        <span class="sr-only">28% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 3</strong>
                                    <span class="pull-right text-muted">60% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 4</strong>
                                    <span class="pull-right text-muted">85% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                        <span class="sr-only">85% Complete (danger)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Tasks</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Message Sent
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-tasks fa-fw"></i> New Task
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down  top_right"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <!--菜单管理-->
                <li>
                    <a href="#"><i class="fa fa-dashboard"></i> 菜单管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse in" aria-expanded="true">
                        <li>
                            <a href="#" class="active-menu">明日菜单</a>
                        </li>
                        <li>
                            <a href="/groupmanager/unit">用餐单位菜单</a>
                        </li>
                    </ul>
                </li>
                <!--配送单管理-->
                <li>
                    <a href="#"><i class="fa fa-desktop"></i> 配送单管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">生成配送单</a>
                        </li>
                        <li>
                            <a href="#">查询配送单</a>
                        </li>
                    </ul>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">应急配送单</a>
                        </li>
                        <li>
                            <a href="#">结算配送单</a>
                        </li>
                    </ul>
                </li>
                <!--食谱与餐标-->
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o"></i> 食谱与餐标<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">定义食谱</a>
                        </li>
                        <li>
                            <a href="#">定义餐标</a>
                        </li>
                    </ul>
                </li>
                <!--管理与授权 -->
                <li>
                    <a href="/companystaff/manager" ><i class="fa fa-qrcode"></i> 管理与授权</a>
                </li>

                <!--其他操作-->
                <li>
                    <a href="#" active-menu><i class="fa fa-table"></i> 其他操作<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">确认合同</a>
                        </li>
                        <li>
                            <a href="#">平台投诉</a>
                        </li>
                        <li>
                            <a href="#">完善基本信息</a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->


    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">


                    <ul class="breadcrumb">
                        <i style="text-align: left">明日菜单管理</i>
                        <li><a href="/groupmanager/index">首页</a></li>
                        <li class="active">菜单管理</li>
                        <li class="active">明日菜单</li>

                    </ul>

                    <ul class="top_search">


                        <div class="container-fluid">
                            <p>公司</p>
                            <ul class="nav nav-tabs">
                                <li th:each="unit,count:${mealUnit}" data-th-classappend="${count.count == 1}?'active':''">
                                    <a th:href="'#' + ${unit.UnitName}" th:text="${unit.UnitName}"  data-toggle="tab" aria-expanded="true">Home</a>
                                </li>

                            </ul>

                            <div class="tab-content">

                                <div th:each="unit,count:${mealUnit}" class="tab-pane fade " data-th-classappend="${count.count == 1}?'active in':''" th:id="${unit.UnitName}">

                                    <p style="font-size: 15px;color:lightskyblue">荤菜<span style="font-size: 12px;color:darkgray" th:text=" '(至少选择'+ ${unit.hun_number} + '个)'"></span></p>

                                    <div th:lang="${meal.key}" th:text="${key.current.value}"  th:each="meal,key:${unit.huncai}" class="meal_td hun "  data-th-classappend="'hun' + ${unit.UnitID}"
                                         style="margin-bottom:-1px;margin-right:-1px;height:34px;width: 12.5%;float: left;border: 1px solid gainsboro;text-align: center;
                                         line-height: 34px;"
                                    ></div>
                                    <p></p>
                                    <p></p>
                                    <p style="font-size: 15px;color:lightskyblue"> 素菜<span style="font-size: 12px;color:darkgray" th:text=" '(至少选择'+ ${unit.su_number} + '个)'"></span></p>
                                    <div th:lang="${meal.key}" th:text="${key.current.value}"  th:each="meal,key:${unit.sucai}" class="meal_td su" data-th-classappend="'su' + ${unit.UnitID}"
                                         style="margin-bottom:-1px;margin-right:-1px;height:34px;width: 12.5%;float: left;border: 1px solid gainsboro;text-align: center;
                                         line-height: 34px;"
                                    ></div>
                                    <p></p>
                                    <p></p>
                                    <button th:if="${unit.added} == 1"type="button" class="btn btn-info pull-right"
                                          disabled="disabled">已添加</button>

                                    <button th:if="${unit.added} == 0" id="choice_finishi" type="button" class="btn btn-info pull-right"
                                            th:onclick="'finish_choice('+ this +','+ ${unit.UnitID}+ ')'">选择完成</button>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>


        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
    <!--<div class="foot_div">-->
    <!--<p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>-->

    <!--</div>-->

</div>
<div class="modal fade" id="finish_message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="message">
                    <span class="glyphicon "></span>提示
                </h4>
            </div>
            <div hidden="hidden" id="foodid_message"></div>
            <div hidden="hidden" id="unitid"></div>
            <div class="modal-body text-danger" id="text_message">
                你是否要停用此账号!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                </button>
                <button type="button" class="btn btn-primary" id="submit_Choice">
                    确认
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Metis Menu Js -->
<script src="/assets/js/jquery.metisMenu.js"></script>


<!-- Custom Js -->
<script src="/assets/js/custom-scripts.js"></script>

<script>


    /*确认*/
    $(function () {
        $("#submit_Choice").click(function () {
            foodsid = $("#foodid_message").text();
            unitid = $("#unitid").text();
            $.ajax({
                url:"/tomorrowmenu/addmenu",
                type:"POST",
                data:{"unitid":unitid,"foodsid":foodsid},
                success:function () {
                    alert("成功!");
                    $("#finish_message").modal("hide");
                    location.reload();
                },
                error:function () {
                    alert("发生错误!");
                }
            });

        });
    });

    /*确认选择*/
    function finish_choice(obj, id) {
        $_this = $(obj);
        var meal = $(".hun" + id);
        var vege = $(".su" + id);

        var ids = [];
        var name = [];
        $.each(meal,function (index,value) {
          if( $(value).hasClass("huncai_choice")){
              ids.push($(this).attr("lang"));
              name.push($(this).text());
          }
        });
        $.each(vege,function (index,value) {
            if( $(value).hasClass("sucai_choice")){
                ids.push($(this).attr("lang"));
                name.push($(this).text());
            }
        });
        if(name.length == 0){
            alert("没选够!");
        }
        else {
            $("#foodid_message").text(ids);
            $("#unitid").text(id);
            $("#text_message").text("选择了："+ name);
            $("#finish_message").modal("show");
        }



    }
    /*选择菜单*/
  $(function () {
      $(".meal_td").click(function () {
          if($(this).hasClass("hun")) {
              if ($(this).hasClass("huncai_choice")) {
                  $(this).css("background", "white").removeClass("huncai_choice");
              } else {
                  $(this).css("background", "#87CEFA").addClass("huncai_choice");
              }
          }else {
              if($(this).hasClass("sucai_choice")){
                  $(this).css("background","white").removeClass("sucai_choice");
              }else {
                  $(this).css("background", "#87CEFA").addClass("sucai_choice");
              }
          }
      });
  });

//    $(function () {
//        $("td").click(function () {
//            var huncai_count = $(".huncai_choice").length;
//            var sucai_count = $(".sucai_choice").length;
//
//            if($(this).parent().parent().parent().hasClass("huncai_tabel")){
//                if($(this).hasClass("huncai_choice")){
//                    $(this).css("background","white").removeClass("huncai_choice");
//                }else{
//                    if(huncai_count < 2){
//                        $(this).css("background","#87CEFA").addClass("huncai_choice");
//                    }else {
//                        alert("荤菜够了!");
//                    }
//                }
//
//            }else if($(this).parent().parent().parent().hasClass("sucai_tabel")){
//                if($(this).hasClass("sucai_choice")){
//                    $(this).css("background","white").removeClass("sucai_choice");
//                }else{
//                    if(sucai_count < 1){
//                        $(this).css("background", "#87CEFA").addClass("sucai_choice");
//                    }else {
//                        alert("素菜够了!");
//                    }
//                }
//            }
//        });
//    });


</script>

</body>

</html>