<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home</title>
    <!-- Bootstrap Styles-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet"/>
    <link href="/assets/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
    <link href="/assets/css/zTreeStyle/metroStyle.css" rel="stylesheet">
    <!-- Custom Styles-->
    <link href="/assets/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <style>
        .table > tbody > tr > td {
            border: 0px;
        }
    </style>
</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index"><i class="fa fa-gear"></i> <strong>HYBRID</strong></a>
        </div>

        <ul class="nav navbar-top-links navbar-right top_right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Doe</strong>
                                <span class="pull-right text-muted">
                                        <em>Today</em>
                                    </span>
                            </div>
                            <div>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem Ipsum has been the industry's standard dummy text ever since an kwilnw...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem Ipsum has been the industry's standard dummy text ever since the...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 1</strong>
                                    <span class="pull-right text-muted">60% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 2</strong>
                                    <span class="pull-right text-muted">28% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="28"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 28%">
                                        <span class="sr-only">28% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 3</strong>
                                    <span class="pull-right text-muted">60% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 4</strong>
                                    <span class="pull-right text-muted">85% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                        <span class="sr-only">85% Complete (danger)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Tasks</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Message Sent
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-tasks fa-fw"></i> New Task
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down  top_right"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <!--菜单管理-->
                <li>
                    <a href="#"><i class="fa fa-dashboard"></i> 菜单管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/groupmanager/tomorrow">明日菜单</a>
                        </li>
                        <li>
                            <a href="/groupmanager/unit">用餐单位菜单</a>
                        </li>
                    </ul>
                </li>
                <!--配送单管理-->
                <li>
                    <a href="#"><i class="fa fa-desktop"></i> 配送单管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/groupmanager/delivering">生成配送单</a>
                        </li>
                        <li>
                            <a href="/groupmanager/historydelivering">查询配送单</a>
                        </li>
                        <li>
                            <a href="/groupmanager/settledelivering">结算配送单</a>
                        </li>
                    </ul>
                </li>
                <!--食谱与餐标-->
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o"></i> 食谱与餐标<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse ">
                        <li>
                            <a href="/groupmanager/recipe">定义食谱</a>
                        </li>
                        <li>
                            <a href="/groupmanager/standard" >定义餐标</a>
                        </li>
                    </ul>
                </li>
                <!--管理与授权 -->
                <li>
                    <a href="/companystaff/manager "><i class="fa fa-qrcode"></i> 管理与授权</a>
                </li>

                <!--其他操作-->
                <li>
                    <a href="#" active-menu><i class="fa fa-table"></i> 其他操作<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse in" aria-expanded="true">
                        <li>
                            <a href="#">确认合同</a>
                        </li>
                        <li>
                            <a href="/groupmanager/complaint">平台投诉</a>
                        </li>
                        <li>
                            <a href="#" class="active-menu">完善基本信息</a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>

    </nav>
    <!--&lt;!&ndash; /. NAV SIDE  &ndash;&gt;-->


    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">


                    <ul class="breadcrumb">
                        <i style="text-align: left">完善信息</i>
                        <li><a href="/index">首页</a></li>
                        <li class="active">其他操作</li>
                        <li class="active">完善基本信息</li>

                    </ul>
                    <ul class="top_search">

                        <div class="container-fluid">
                            <div class="span12">
                                <div class="row-fluid">

                                    <form class="form-horizontal"  id="form" action="/deliveringCompany/updatecompany" >
                                        <input  hidden="hidden" name="deliveringCompanyStatus"  th:value="${company.deliveringCompanyStatus}">
                                        <br>
                                        <div class="row">
                                            <label for="firstname" class="col-sm-2 control-label">公司名称 ：</label>
                                            <div class="col-lg-3">
                                                <input type="text" name="deliveringCompanyName" class="form-control" id="firstname" th:value="${company.deliveringCompanyName}">
                                            </div>

                                            <label for="lastname" class="col-sm-2 control-label">开户行 ：</label>
                                            <div class="col-lg-3">
                                                <select name="deliveringCompanyBank" class="form-control">
                                                    <option selected style="display: none"
                                                            th:value="${company.deliveringCompanyBank}" th:if="${company.deliveringCompanyBank} == 中国银行" th:text="中国银行"></option>
                                                    <option selected style="display: none"
                                                            th:value="${company.deliveringCompanyBank}" th:if="${company.deliveringCompanyBank} == 建设银行" th:text="建设银行"></option>
                                                    <option selected style="display: none"
                                                            th:value="${company.deliveringCompanyBank}" th:if="${company.deliveringCompanyBank} == 农业银行" th:text="农业银行"></option>
                                                    <option selected style="display: none"
                                                            th:value="${company.deliveringCompanyBank}" th:if="${company.deliveringCompanyBank} == XX银行" th:text="XX银行"></option>
                                                    <option value="中国银行" >中国银行</option>
                                                    <option value="建设银行" >建设银行</option>
                                                    <option value="农业银行" >农业银行</option>
                                                    <option value="XX银行" >XX银行</option>
                                                    <option value="XX银行" >XX银行</option>
                                                    <option value="XX银行" >XX银行</option>
                                                    <option value="XX银行" >XX银行</option>
                                                </select>
                                            </div>
                                        </div>
                                        <br>


                                        <div class="row">
                                            <label for="lastname" class="col-sm-2 control-label">公司联系人 ：</label>
                                            <div class="col-lg-3">
                                                <input type="text" name="deliveringCompanyContact"class="form-control" th:value="${company.deliveringCompanyContact}">
                                            </div>

                                            <label for="lastname" class="col-sm-2 control-label">开户账号 ：</label>
                                            <div class="col-lg-3">
                                                <input type="text" name="deliveringCompanyAccount" class="form-control"  th:value="${company.deliveringCompanyAccount}">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <label for="lastname" class="col-sm-2 control-label">联系方式（手机）：</label>
                                            <div class="col-lg-3">
                                                <input type="text" name="deliveringCompanyMobile" class="form-control"  th:value="${company.deliveringCompanyMobile}">
                                            </div>

                                            <label for="lastname" class="col-sm-2 control-label">办公电话 ：</label>
                                            <div class="col-lg-3">
                                                <input type="text" name="deliveringCompanyTel" class="form-control" th:value="${company.deliveringCompanyTel}">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <label for="lastname" class="col-sm-2 control-label">地址 ：</label>
                                            <div class="col-lg-3">
                                                <input type="text" name="deliveringCompanyAddress"  class="form-control" id="lastname" th:value="${company.deliveringCompanyAddress}">
                                            </div>

                                            <label for="lastname" class="col-sm-2 control-label">营业执照 ：</label>
                                            <div class="col-lg-3">
                                                <input name="deliveringCompanyLicense" type="file" id="inputfile">
                                                <br>
                                                <span style="color: #6149ff" th:text="'已有数据：'+ ${company.deliveringCompanyLicense} + '&nbsp;&nbsp;&nbsp;&nbsp;(重新选择进行修改)'" ></span>
                                            </div>


                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                        <div class="row">


                                            <label for="lastname" class="col-sm-2 control-label">公司简介 ：</label>
                                            <div class="col-lg-3">
                                                <textarea style="resize: none" name="deliveringCompanyDisc" rows="3" cols="80"   th:text="${company.deliveringCompanyDisc}"></textarea>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <div class="row pull-right">
                                            <button type="button" id="Sub" class="btn btn-info pull-right" onclick="sub()">确认</button>

                                        </div>
                                        <br>

                                    </form>


                                </div>
                            </div>
                        </div>


                    </ul>
                </div>
             </div>
        </div>
    <!-- /. PAGE INNER  -->
    </div>

<!-- /. PAGE WRAPPER  -->
<!--<div class="foot_div">-->
<!--<p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>-->

</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Metis Menu Js -->
<script src="/assets/js/jquery.metisMenu.js"></script>


<!-- Custom Js -->
<script src="/assets/js/custom-scripts.js"></script>

<script th:inline="javascript">

    function sub() {
        $("#form").submit();
        alert("修改成功!");
    }
</script>

</body>

</html>